{% load static %}
<nav class="navegador">
    
    <ul>
        <li><a href="/"><img src="{% static 'img/PPlogo.svg' %}" alt="logo publiprint" class="nwlogo"></a></li>
        <li>
            <a href="{% url 'home' %}">
                <i class="bi bi-speedometer2"></i>
                Inicio
            </a>
        </li>

        <li>
            <a href="{% url 'orden' %}">
                <i class="bi bi-file-earmark-plus"></i>
                Crear Pedido
            </a>
        </li>
        <li>
            <a href="{% url 'proforma' %}">
                <i class="bi bi-files"></i>
                Pedidos
            </a>
        </li>
        <!-- <li><a href="{% url 'cajas:salida_list' %}">Salidas</a></li> -->
        <!-- <li><a href="{% url 'cajas:caja_list' %}">Caja</a></li> -->
        <li>
            <a href="{% url 'client_list' %}">
                <i class="bi bi-person-badge"></i>
                Clientes
            </a>
        </li>
        <li>
            <a href="{% url 'list_employee' %}">
                <i class="bi bi-person-workspace"></i>
                Empleados
            </a>
        </li>
        <li>
            <a href="{% url 'calendar' %}">
                <i class="bi bi-calendar-event"></i>
                Calendario
            </a>
        </li>
        <br>
        <li>
            <a href="{% url 'backup:db_backup' %}">
                <i class="bi bi-database"></i>
                Respaldo
            </a>
        </li>
        <li>
            <a href="{% url 'auth:logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                Cerrar Sesion
            </a>
        </li>

    </ul>
</nav>