{% extends 'base.html' %}
{% block title %} <title>Confirmacion</title> {% endblock %}
{% block content %}
        <h1>¿Estás seguro de que deseas eliminar el pedido?</h1>
        
        <p>Por favor, confirma si deseas eliminar el siguiente pedido:</p>
        <p><strong>Cliente:</strong> {{ object.client.name }}</p>
        <p><strong>Descripción:</strong> {{ object.description }}</p>
        <p><strong>Total:</strong> Q{{ object.total }}</p>
        
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'proforma' %}" class="button gray">Cancelar</a>
            <button type="submit" class="button red">Sí, eliminar</button>
        </form>
    </body>

    {% endblock %}
