{% extends "base.html" %}
{% load static %}
{% block title%}
<title>Crear Pedido</title>
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    
{% endblock %}

{% block content%}
<div class="container">
    <h1 class="title">Proforma</h1>
</div>

    <form method="post" action=".">
        {% csrf_token %}
            <div class="form_container">
                <label for="nombrepedido">Nombre Cliente: 
                    <input type="text" name="np" id="nombrepedido" class="autocomplete input-hiden">
                </label>
                <label for="numeropedido">Teléfono:
                    <input type="text" name="nn" id="numeropedido" class="autocomplete input-hiden">
                </label>
                <input type="hidden" name="client_id" id="idclientepedido">
            </div>
    </form>
        <table id="tablaProductos" class="table table_create_order">
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" value="1" onclick="actualizarTotal()" onkeyup="actualizarTotal()"></td>
                <td><textarea class="woutborder" placeholder="Escriba su producto aqui"></textarea></td>
                <td><input type="number" step="5.00" value="00.00" onclick="actualizarTotal()" onkeyup="actualizarTotal()"></td>
                <td><input type="number" value="00.00" disabled></td>
                <td>
                    <i class="bi bi-x button red" onclick="eliminarFila(this.parentNode.parentNode)"></i>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="2">Total:</td>
                <td colspan="1" id="total" disabled>Q00.00</td>
                <td>
                    <i class="bi bi-plus button blue" onclick="agregarFila()"></i>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">Anticipo</td>
                <td colspan="1"><input type="number" id="anticipo" value="0" step="5"></td>
                <td>
                    <i class="bi bi-cart2 button green" onclick="actualizarResumen()" id="openPopup"></i>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="container">
        <div class="form_row">
            <span>Fecha de Entrega</span>
            <input type="date" id="fechaentrega">
            <span>Responsable</span>
            <select name="responsable" id="elresponsable">
                <option disabled selected>Seleccionar</option>
                {% for empleado in empleados %}
                    <option value="{{ empleado.id }}">{{ empleado.name }}</option>
                {% endfor %}
            </select>
            
            
        </div>
    </div>


</div>


<div id="popup" class="popup">
    <form method="post" action="{% url 'orden' %}">
        {% csrf_token %}
        <div hidden>
        {{form}}
        </div>
        
        <div class="congrid">
            <div class="intergrid">
                <i class="bi bi-x button close-button red " id="closePopup"></i>
                <h2>Resumen del Pedido</h2>
                <div class="form_row">
                    <span>Nombre: </span>
                <input type="text" id="nnombre" name="client" disabled>
                <span>Numero: </span>
                <input type="number" id="nnumero" name="phone" disabled>
                </div>
                    <div class="form_table">
                        <table id="" class="table table_resume">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Total</th>
                                    <th>Anticipo</th>
                                    <th>Saldo</th>
                                </tr>
                            </thead>
                            <tbody id="resumenBody">
                            </tbody>
                        </table>
                    </div>
                <div class="form_row">
                    <span>Fecha Entrega:</span>
                <input type="date" id="ffecha" name="deadline" disabled>
                <span>Responsable: </span> 
                <input type="text" id="rresponsable" name="responsible" disabled>
                
                <div>

                </div>
                <div>
                    <button type="submit" class="button green">Terminar Pedido</button>
                </div>
                </div>
                
            </div>
            
        </div>
    </form>
</div>
<script>
    var clientSuggestionsUrl = "{% url 'client-suggestions' %}";
</script>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/proforma.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>



{% endblock %}