{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Editar pedido</title>{% endblock %}

{% block content %}
  <h2>Pedido</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form_edit_container">
      {% for field in form %}
        <div class="form_row">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="errors">
              {% for error in field.errors %}
                <span class="error">{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <a href="{% url 'verOrden' object.id %}" class="button red">Cancelar</a>
    <button type="submit" class="button green">Guardar</button>
  </form>
{% endblock %}
