{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Ver Pedidos</title>
{% endblock %}

{% block content%}

<div class="container">
    <h1 class="title">Listado de Pedidos</h1>
</div>

<div>
    <form method="get" action="{% url 'proforma' %}">
        <input type="text" class="input-hiden" name="ord_article" value="{{ request.GET.ord_article }}" placeholder="Buscar por articulo..">
        <input type="text" class="input-hiden" name="ord_name" value="{{ request.GET.ord_name }}" placeholder="Buscar por cliente...">
        <input type="text" class="input-hiden" name="ord_phone" value="{{ request.GET.ord_phone }}" placeholder="Buscar por telefono...">
        <button class="button green" type="submit">Buscar <i class="bi bi-search"></i></button>

    </form>
</div>



<table class="table table_list">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th colspan="2">Descripcion</th>
            <th>Saldo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.id }}</td>
            <td><a href="{% url 'client_detail' pedido.client.id %}">{{ pedido.client.name }}</a></td>
            <td colspan="2"><a href="{% url 'verOrden' pedido.id %}">{{ pedido.description }}</a></td>
            <td>Q {{pedido.getSaldo}}.00</td>
            <td>
                <a href="{% url 'imprimirOrden' pedido.uuid %}" target="_blank" class="bi bi-printer button blue" id="imprimir{{pedido.id}}"></a>
        
                <a href="{% url 'pedido_editar' pedido.id %}" class="bi bi-pencil-square button green"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <div class="step-links">
        {% if page_obj.has_previous %}
            <a class="page_link" href="?page=1">&laquo; Primera</a>
            <a class="page_link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% else %}
            <a class="page_link_disabled" aria-disabled="true">&laquo; Primera</a>
            <a class="page_link_disabled" aria-disabled="true">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="page_link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a class="page_link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% else %}
            <a class="page_link_disabled" aria-disabled="true">Siguiente</a>
            <a class="page_link_disabled" aria-disabled="true">Última &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}