{% load static %}
<div class="hoja">
    <div class="flex">
        <!-- <div class="flex-element"><img class="logo" src="{{ logo }}" alt="Logo"></div> -->
        <div class="flex-element"><img class="logo" src="https://lh3.googleusercontent.com/a/ACg8ocKg51Dm7PD4TYVjFbHVJ3YY68xT14oYZ2xmRUz8enN5tuNTcNubH5jHwK3u29olxKvD69gRfs5KAQ8iwS8ayl5_vSZX2xlz=s288-c-no
            " alt="Logo"></div>
        <div class="flex-element">
            <p class="tbold">PubliPrint</p>
            <p class="tbold">Bo. El calvario</p>
            <p class="tbold">San Luis Jilotepeque</p>
            <p class="tbold">3048-6428</p>
        </div>
        <div class="flex-element">
            <p class="tbold">Proforma No.</p>
            <p class="proforma-no">{{pedido.id}}</p>
        </div>
    
    </div>
    <br>
    <div class="line"></div>
    <div class=" flex">
        <div class="flex-element">
            <p class="tag clientname"> <span class="tbold">Nombre: </span> {{pedido.client.name}}</p>
        </div>
        <div class="flex-element">
            <p class="tag clientphone"><span class="tbold">Teléfono: </span>{{pedido.client.phone}}</p>
        </div>
    </div>
    <div class="line"></div>
    
    
    <div class="container flex">
        <h2>Detalles del Pedido</h2>
    </div>
    
    <div class="container">
        <table class="table_detail">
        <thead>
                <th class="tbold">Descripción</th>
                <th class="tbold">Total</th>
                <th class="tbold">Anticipo</th>
                <th class="tbold">Saldo</th>
        </thead>
        <tbody>
            <tr>
                <td>{{pedido.description}}</td>
                <td>Q{{pedido.total|floatformat:2}}</td>
                <td>Q{{pedido.anticipo|floatformat:2}}</td>
                <td>Q{{saldoo|floatformat:2}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    
    <div class="container flex">
    
        <div class="flex-element">
            <p class="tbold">Fecha Pedido</p>
            <p> {{pedido.request_date|date:"d/m/Y"}}</p>
        </div>
    
        <div class="flex-element">
            <p class="tbold">Fecha Entrega</p>
            <p>{{pedido.deadline|date:"d/m/Y"}}</p>
        </div>
    
        <div class="flex-element">
            <p class="tbold">Responsable</p>
            <p>{{pedido.responsible.name}}</p>
        </div>
    
    </div>
</div>
