{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Ver Pedido</title>
{% endblock %}

{% block content%}
    <div class="flex-container">
      
        <div class="flex-element">
            <p class="tbold">Proforma No. {{pedido.id}}</p>
        </div>
    
    </div>
    <br>
    <div class="line"></div>
    <div class=" flex-container">
        <div class="flex-element">
            <p class="tag clientname"> <span class="tbold">Nombre: </span> <a href="{% url 'client_detail' pedido.client.id %}">{{pedido.client.name}}</a></p>
        </div>
        <div class="flex-element">
            <p class="tag clientphone"><span class="tbold">Teléfono: </span>{{pedido.client.phone}}</p>
        </div>
    </div>
    <div class="line"></div>
    
    
    <h2>Detalles del Pedido</h2>
 
    

        <table class="table table_detail">
        <thead>
                <th class="tbold">Descripción</th>
                <th class="tbold">Total</th>
                <th class="tbold">Anticipo</th>
                <th class="tbold">Saldo</th>
        </thead>
        <tbody>
            <tr>
                <td>{{pedido.description}}</td>
                <td>Q{{pedido.total|floatformat:2}}</td>
                <td>Q{{pedido.anticipo|floatformat:2}}</td>
                <td>Q{{saldo|floatformat:2}}</td>
            </tr>
        </tbody>
        </table>
    
    <div class="flex-container">
    
        <div class="flex-element">
            <p class="tbold">Fecha Pedido</p>
            <p> {{pedido.request_date|date:"d/m/Y"}}</p>
        </div>
    
        <div class="flex-element">
            <p class="tbold">Fecha Entrega</p>
            <p>{{pedido.deadline|date:"d/m/Y"}}</p>
        </div>
    
        <div class="flex-element">
            <p class="tbold">Responsable</p>
            <p>{{pedido.responsible.name}}</p>
        </div>
    
    </div>
    <a href="{% url 'imprimirOrden' pedido.uuid %}" target="_blank" class="bi bi-printer button blue" id="imprimir{{pedido.id}}"></a>
    <a href="{% url 'pedido_editar' pedido.id %}" class="bi bi-pencil-square button green"></a>     
    <a href="{% url 'pedido_delete' pedido.id %}" class="bi bi-trash button red"></a>
        {% csrf_token %}
        {% if pedido.entregado %}
            <a class="button green" href="{% url 'entregar_pedido' pedido.id %}" type="submit">Entregado <span class="bi bi-check2"></span></a>
         {% else %}
            <a class="button red" href="{% url 'entregar_pedido' pedido.id %}" type="submit">No Entregado<span class="bi bi-x"></span></a>
         {% endif %}
        


{% endblock %}