{% extends "base.html" %}
{% block title%}
<title>Eliminar Cliente</title>
{% endblock %}

{% block content%}
<h1>Eliminar Cliente</h1>
<p>¿Estás seguro de que deseas eliminar al cliente "{{ object.name }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
</form>
<a href="{% url 'client_list' %}">Cancelar</a>

{% endblock %}