{% extends "base.html" %}
{% load static %}
{% block title%}
<title>Listado de Clientes</title>
{% endblock %}

{% block content%}

<h1 class="title">Listado de Clientes</h1>

<div class="flex-container">
  <div class="">
    <form method="get" action="{% url 'client_list' %}">
      <input type="text" class="input-hiden" name="query_clientes" value="{{ query }}" placeholder="Buscar por nombre...">
      <button class="button green" type="submit">Buscar <i class="bi bi-search"></i></button>

    </form>
  </div>

  <div class="" style="margin-left: auto;">
    <a href="{% url 'client_create' %}" class="button green"> 
      Agregar Cliente
      <i class="bi bi-person-plus"></i>
    </a>
  </div>
</div>


  
  
  <table class="table table_list">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
      <tr>
        <td scope="row">{{cliente.id}}</td>
        <td><a href="{% url 'client_detail' cliente.id %}">{{ cliente.name }}</a></td>
        <td><a href="https://wa.me/502{{cliente.phone}}?text=Buen%20dia.%20Le%20saludamos%20de%20PubliPrint" target="_blank">{{cliente.phone}}</a></td>

      </tr>

      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <div class="step-links">
        {% if page_obj.has_previous %}
            <a class="page_link" href="?page=1">&laquo; Primera</a>
            <a class="page_link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% else %}
            <a class="page_link_disabled" aria-disabled="true">&laquo; Primera</a>
            <a class="page_link_disabled" aria-disabled="true">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="page_link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a class="page_link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% else %}
            <a class="page_link_disabled" aria-disabled="true">Siguiente</a>
            <a class="page_link_disabled" aria-disabled="true">Última &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}