{% extends "base.html" %}
{% block title%}
<title>Actualizar Cliente</title>
{% endblock %}

{% block content%}
<h1>Editar Cliente</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a class="button secondary" href="{% url 'client_detail' object.id %}">Volver</a>
    <button class="button green" type="submit">Actualizar</button>
</form>

{% endblock %}