{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Detalle cliente</title> {% endblock %}
{% block content %}

<style>

.client-card{
    display: flex;
    column-gap: 24px;
    margin-top: 32px;
}

.client-info{
    align-items: center;
}

.orders {
    margin-top: 16px;
}

.order {
    padding: 16px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.order p {
    margin: 4px 0;
    color: #666;
}

.order p:first-child {
    font-weight: bold;
    color: #333;
}

</style>

<div class="">
   
    <div class="client-card">
        <img src="{% static 'img/nophoto.png' %}" alt="nophoto" width="100px" height="100px">
        <div class="client-info">
            <h2>{{ client.name }}</h2>
            <p><a href="https://wa.me/502{{cliente.phone}}?text=Buen%20dia.%20Le%20saludamos%20de%20PubliPrint" target="_blank"><span class="bi bi-whatsapp"></span>  {{ client.phone }}</a></p>
            <p>C-{{ client.id }}</p>
            <a class="button secondary" href="{% url 'client_list' %}">Regresar</a>
        <a class="button" href="{% url 'client_update' client.id %}">Editar</a>
        <a class="button red" href="{%  url 'client_delete' client.id %}">Eliminar</a>
        </div>
    </div>

    
    <div class="orders">
        {% for pedido in pedidos %}
        <a href="{% url 'verOrden' pedido.id %}">
            <div class="order">
                <h3>{{ pedido.id }}</h3>
                <p>Descripción: {{ pedido.description }}</p>
                <p>Solicitado el {{pedido.request_date}}</p>
                <td>
                    
                </td>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}