{% extends 'base.html' %}

{% block content %}
<div class="container">
    <style>
        /* Contenedor principal */

/* Título */
.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Diseño en grid */
.backup-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* Tarjetas */
.backup-card {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Texto */
h3 {
    font-weight: 500;
    margin-bottom: 15px;
}

.info-text {
    color: #666;
    font-size: 14px;
}

/* Separador */
.separator {
    font-size: 20px;
    font-weight: bold;
    color: #666;
}

/* Input de archivo */
.file-input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Responsivo */
@media (max-width: 600px) {
    .backup-grid {
        grid-template-columns: 1fr;
    }
}

    </style>
    <h1 class="title">Respaldo</h1>

    <div class="backup-grid">
        <div class="backup-card">
            <h3>Importar Base de Datos</h3>
            <form action="{% url 'backup:import_database' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="file-input" type="file" name="file" accept=".sqlite" required>
                <button class="btn" type="submit">Cargar Datos</button>
            </form>
        </div>

        <p class="separator">o</p>

        <div class="backup-card">
            <h3>Exportar Base de Datos</h3>
            <p class="info-text">Guarda el archivo en un lugar seguro</p>
            <a class="btn" href="{% url 'backup:export_database' %}">Descargar Datos</a>
        </div>
    </div>
</div>
{% endblock %}
