    /* Fondo con degradado */
    body {
        /* background: linear-gradient(to right, #6a11cb, #2575fc); */
        background-color: #dddddd;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    
    /* Contenedor principal */
    .container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    /* Título */
    h2 {
        margin-bottom: 20px;
        color: #333;
    }
    
    /* Campos de entrada */
    .form-control {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    
    /* Botón */
    .btn {
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        color: white;
        cursor: pointer;
    }
    
    .btn-primary {
        background-color: #2575fc;
    }
    
    .btn-primary:hover {
        background-color: #1a5ed6;
    }
    
    .alert {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 14px;
    }
    
    .alert-success {
        background: #d4edda;
        color: #155724;
        border-left: 5px solid #28a745;
    }
    
    .alert-danger {
        background: #f8d7da;
        color: #721c24;
        border-left: 5px solid #dc3545;
    }
    
    /* Botón de ver contraseña */
    .input-group {
        display: flex;
        align-items: center;
    }

    .input-group-append button {
        margin: 0 ;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }