*{
    margin: 0px;
    /* font-family:sans-serif; */
}
:root {
    --color-primario: #d2d2d2;
    --color-secundario: red;
  }
.container{
    margin: 15px 0px;
    /* border: 1px solid #000;  */
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.flex-element{
    margin: 0px 40px;
    text-align:center;
}

.logo{
    width: 80px;
}
.proforma-no{
    color: var(--color-secundario);
    text-align: right;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--color-secundario);
}

.tag{
    /* border-bottom: 1px solid black; */
}

.table_detail{
    border-collapse: collapse;
    width: 100%;
}

td, tr, th{
    /* border: 1px solid blue; */
    padding: 10px;
    border: 1px solid var(--color-primario);
}

.table_detail th{
    background-color: var(--color-primario);
}

.tbold{
    font-weight: bold;
}
.line{
    border-top: 1px solid var(--color-primario);
}

.linea{
    border: 1px dotted var(--color-secundario);
    position: absolute;
    top: 50%;
    width: 100%;

}
.copia{
    position: absolute;
    top: 55%;
    width: 100%;
}