/* --- RESETEO DE ESTILOS GENERALES --- */
* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #1a253f; /* Variables CSS */
    --second-bg-color: #a3a3a3;
    --third-bg-color: #ddd;
    --four-bg-color: #f2f2f2;
}

body {
    margin: 0px 50px 0px 250px;
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}

/* --- 2. TIPOGRAFÍA Y TEXTO --- */
h1, h2, h3, h4, h5 {
    color: var(--main-bg-color);
}

br{
    margin-bottom: 16px;
    border-top: 2px solid red;
}

.mulish-a {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

input, textarea {
    font-family: 'Mulish';
}

/* ---  ESTILOS GENERALES PARA FORMULARIOS --- */
input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.input-hiden{
    outline: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom: 1px var(--second-bg-color) solid;
    width:  300px;
    
}
.input-hiden:focus{
    outline: none;
    border-bottom: 1px black solid;
}

button, 
input {
    overflow: visible;
}

button, 
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: none; /* Deshabilitar el ajuste de tamaño */
    width: 100%;
    height: 50px; /* Altura fija */
    outline: none; /* Eliminar el resaltado de foco */
}

/* ---  CLASES UTILITARIAS Y ESPECÍFICAS --- */
.reset-input {
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none;
    border: none;
    background: none;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

.woutborder {
    border: none;
}

/* ************** Nabbar */
.navegador {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Ancho del menú */
    height: 100%; /* Altura total de la ventana */
    background-color: var(--main-bg-color); /* Color de fondo */
}

.navegador ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navegador ul li {
    padding: 0px 20px; /* Espaciado interno */
    margin: 0;
}

.navegador ul li a {
    display: block;
    text-decoration: none;
    color: white; /* Color de texto */
    padding: 20px 5px;
    /* background-color: red; */
}

.navegador ul li:hover {
    background-color: #253455; /* Color de fondo al pasar el ratón */
    }

.navegador ul li a .bi{
    /* background-color: red; */
    margin-right: 4px;
} 
.logoprint{
    width: 150px;
}

.button{
    display: inline-block;
    padding: 8px 8px;
    text-decoration: none;
    background-color: var(--main-bg-color);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.secondary{
    background-color: white;
    color: var(--main-bg-color);
    border: var(--main-bg-color) 1px solid;
}

.blue{
    background-color: blue;
}

.gray{
    background-color: rgb(120, 120, 120);
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}


.container{
    margin: 12px 96px;
}

.form_container{
    margin: 30px 0px;
}
.form_edit_container{
    width: 50%;
}

.title{
    text-align: center;
}

.openPopup {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.506);
  z-index: 1000;
  /* text-align: center; */
}


.form_row span,
.form_row input,
.form_row select{
    margin: 10px 10px;
    text-align: center;
}

.congrid{
    display: grid;
    height: 100vh;
    place-items: center;
}

.intergrid{
    width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}


.form_table{
    justify-content: center;
    width: 100%;
    /* background-color: RED; */
    display: grid;
}

.close-button {
    position: absolute;
    /* top: 0px; */
    right: 470px;
  }

.intergrid .form_row{
    margin: 15px 0px;
  }

.flex-container{
    display: flex;
    flex-direction: row;
    /* justify-content:start; Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    /* border: 1px solid #000;  */
}

.flex-element{
    margin: 8px auto;
}

/***************************** Estilo para todas las tablas */
.table{
    border-collapse: collapse;
    width: 100%;
}

.table tr th{
    border: 1px var(--third-bg-color) solid;
    color: var(--main-bg-color);
    background-color: var(--four-bg-color);
}

.table th,
.table td {
    border: 1px solid var(--third-bg-color);
    padding: 4px;
}

.table_list {
    width: 100%; /* Limita al 100% del contenedor */
    margin: 16px auto; /* Centrar la tabla */
    border-collapse: collapse;
    table-layout: fixed; /* Distribuye las columnas de forma equitativa */
}

/* Hacer que el contenido de las celdas no sobresalga */
.table_list tbody td{
    text-overflow: ellipsis; /* Muestra '...' si el texto es más largo */
    overflow: hidden;
    white-space: nowrap; /* Impide que el texto se rompa en varias líneas */
}

/* Cuando se pasa el cursor por encima de las filas */
.table_list tbody tr:hover{
    background-color: var(--four-bg-color);
}



/************* Tabla para crear pedidos (proformas) */


.table_create_order td:nth-child(1),
.table_create_order td:nth-child(3),
.table_create_order td:nth-child(4),
.table_create_order td:nth-child(5)  {
    width: 5%; 
    text-align: center;
}

.table_create_order td:nth-child(2) {
    width: 40%; 
}

table tr{
    height: 48px;  
}
/* .table_create_order tr,
.table_list tr{
height: 48px;
} */

.table_create_order input,
.table_create_order input:focus{
    outline: none;
    border: none;
    width: 100%;
}

/* Tabla resumen pedido */
.table_resume{
    background-color: white;
    border-collapse: collapse;
    width: 800px;
}
.table_resume td:nth-child(1){
    width: 50%; 
}

.table_resume td:nth-child(2),
.table_resume td:nth-child(3),
.table_resume td:nth-child(4){
    width: 5%; 
}
    

/******************** Estilos para la paginación */
.pagination {
    margin: 20px 0; /* Margen superior e inferior de la paginación */
    text-align: center; /* Alineación del contenido */
}

.step-links .page_link_disabled {
    color: #333;
    border: 1px solid #333;
    cursor: default;
}

.step-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
    padding: 3px 8px;
    border: 1px solid #007bff;
    border-radius: 3px;
}

/* Enlaces deshabilitados (declarado después) */
.page_link_disabled {
    color: #333;
    border: 1px solid #333;
    cursor: default;
}

.line {
    border-bottom: 1px solid var(--third-bg-color);
    margin: 24px 0;
}