{% extends 'base.html' %}

{% block title %} <title>Movimientos</title> {% endblock %}

{% block content %}
<div class="container">
    <form method="get" action="{% url 'cajas:caja_list' %}" class="d-inline-block">

        <input type="month" class="form-control" name="caja_date">
        <input type="submit" value="Buscar">
    </form>
</div>

<h1>Caja</h1>

<table class="caja_table">
    <thead>
        <tr>
        <th>Fecha</th>
        <th>Descripcion</th>
        <th>Cancelado</th>
        <th>Total</th>
        <th>Anticipo</th>
        <th>Saldo</th>
        <th>Entran</th>
        <th>Salen</th>
        </tr>
    </thead>
<tbody>
    {% for movimiento in movimientos %}  
    <tr>
        <td>{{movimiento.caja}}  {{movimiento.created|date:"d/m/Y"}}</td>
        <td>
            {% if movimiento.caja.id == 1 %}
                <a href="{% url 'verOrden' movimiento.id %}">{{movimiento.client.name}} {{movimiento.description}}</a>
            {% else %}
                <a href="{% url 'cajas:salida_edit' movimiento.id %}">{{movimiento.client.name}} {{movimiento.description}}</a>
            {% endif %}
        </td>
    
        {% if movimiento.caja.id == 1 %}
    <td>
        {% csrf_token %}
                {% if movimiento.entregado %}
                <a href="{% url 'entregar_pedido' movimiento.id  %}" type="submit"><p class="bi bi-check2 button green"></p></a>
                {% else %}
                <a href="{% url 'entregar_pedido' movimiento.id  %}" type="submit"><p class="bi bi-x button red"></p></a>
                {% endif %}
    </td>
    <td>Q{{movimiento.total|floatformat:2}}</td>
    <td>Q{{movimiento.anticipo|floatformat:2}}</td>
    <td>Q{{ movimiento.getSaldo|floatformat:2 }}</td>
    <td>Q{{ movimiento.totalentrada|floatformat:2}}</td>
    <td>Q00.00</td>
        {% else %}
        <td></td>
        <td colspan="3"></td>
        <td>Q00.00</td>
        <td>Q{{movimiento.total|floatformat:2}}</td>
        {% endif %}
</tr>
    {% endfor %}
</tbody>

<tfoot>
    <tr>
        <td colspan="6"></td>
        <td>Q{{ total.total_entrada|floatformat:2 }}</td>
        <td>Q{{ total.total_salida|floatformat:2 }}</td>
    </tr>
    <tr>
        <td colspan="8"><strong>Total: {{alltotals|floatformat:2}}</strong> </td>
    </tr>
</tfoot>

</table>

{% endblock %}

