{% extends "base.html" %}
{% block title%}
<title>Crear empleado</title>
{% endblock %}

{% block content%}
<h1>Crear Empleado</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>
<a href="{% url 'list_employee' %}">Volver a la lista</a>
{% endblock %}