{% extends "base.html" %}
{% block title%}
<title>Eliminar empleado</title>
{% endblock %}

{% block content%}
<h1>Eliminar Empleado</h1>
<p>¿Estás seguro de que deseas eliminar al empleado "{{ object.name }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
</form>
<a href="{% url 'list_employee' %}">Cancelar</a>


{% endblock %}