{% extends "base.html" %}
{% block title%}
<title>Detalle empleado</title>
{% endblock %}

{% block content%}
<h1>Detalles del Empleado</h1>
<p><strong>Nombre:</strong> {{ empleado.name }}</p>
<p><strong>Teléfono:</strong> {{ empleado.phone }}</p>
<p><strong>Activo:</strong> {{ empleado.is_working }}</p>
<a class="button secondary" href="{% url 'list_employee' %}">Volver a la lista</a>
<a class="button" href="{% url 'update_employee' empleado.id %}">Editar</a>
<a class="button red" href="{% url 'delete_employee' empleado.id %}">Eliminar</a>

{% endblock %}