{% extends "base.html" %}
{% load static %}
{% block title%}
<title>Listado de Empleados</title>
{% endblock %}

{% block content%}

<h1 class="title">Listado de Empleados</h1>

<div class="flex-container">
  <div class="">
    <form method="get" action="{% url 'list_employee' %}">
      <input type="text" class="input-hiden" name="query_empleados" value="{{ query }}" placeholder="Buscar por nombre...">
      <button class="button green" type="submit">Buscar <i class="bi bi-search"></i></button>
    </form>
  </div>

  <div class="" style="margin-left: auto;">
    <a href="{% url 'create_employee' %}" class="button green">
      Agregar Empleado
      <i class="bi bi-person-add"></i>
    </a>
  </div>
</div>
  
  <table class="table table_list">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nombre</th>
        <th scope="col">Puesto</th>
        <th scope="col">Telefono</th>
        <th scope="col" >Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for empleado in empleados %}
      <tr>
        <td scope="row">{{empleado.id}}</td>
        
          <td>  <a href="{% url 'detail_employee' empleado.id %}">{{ empleado.name }}</a></td>
          <td scope="col">{{empleado.get_position_display }}</td>
          <td><a href="https://wa.me/502{{empleado.phone}}?text=Buen%20dia.%20Le%20saludamos%20de%20PubliPrint" target="_blank">{{empleado.phone}}</a></td>
          <td>
            {% if empleado.is_working %}
            <a class="button green">Activo <span class="bi bi-check "></span> </a>
            {% else %}
            <a class="button red">Inactivo <span class="bi bi-x"></span></a>
            {% endif %}
          </td>

      </tr>

      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <div class="step-links">
        {% if page_obj.has_previous %}
            <a class="page_link" href="?page=1">&laquo; Primera</a>
            <a class="page_link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% else %}
            <a class="page_link_disabled" aria-disabled="true">&laquo; Primera</a>
            <a class="page_link_disabled" aria-disabled="true">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="page_link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a class="page_link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% else %}
            <a class="page_link_disabled" aria-disabled="true">Siguiente</a>
            <a class="page_link_disabled" aria-disabled="true">Última &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}