{% extends "base.html" %}
{% block title%}
<title>Actualizar empleado</title>
{% endblock %}

{% block content%}
<h1>Editar Empleado</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Actualizar</button>
</form>
<a href="{% url 'list_employee' %}">Volver a la lista</a>

{% endblock %}