{% extends 'base.html' %}

{% block title %}
<title>Calendario</title>
{% endblock %}

{% block content %}
<style>
    #calendar {
        max-width: 80%;
        max-height: 90vh;
        margin: 40px auto;
        
    }

    .fc-toolbar-title{
      text-transform: uppercase;
    }
</style>
</style>
<div id="calendar"></div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: {{events|safe}},
        locales: 'es',
      });
      
      calendar.render();
    });

  </script>

{% endblock %}