{% extends "base.html" %}
{% load static %}
{% block title%}
<title>Inicio</title>
{% endblock %}

{% block content %}
<style>



/* Tarjetas de información */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    cursor: pointer;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    border:#bdbdbd solid 1px;
    padding: 24px;
    flex: 1;
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction:row;
    align-items: center;
}

.card-title {
    font-size: 1rem;
    color: #9e9e9e;
    font-weight: 600;
}

.card-count {
    font-size: 2rem;
    color: var(--main-bg-color);
    font-weight: 800;
}

.card-icon {
    font-size: 2rem;
    color: white;
    overflow: hidden;
}
.card-figure{
    background-color: var(--main-bg-color);
    border-radius: 48px;
    margin-left: auto;
    padding: 16px 20px;

}
/* Iconos */

.card:hover{
    border: var(--main-bg-color) solid 1px;   
}

/* Gráficos */
.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    justify-content: space-between;
}

.charts .canvas {
    background-color: #fff;
    border-radius: 8px;
    border:#bdbdbd solid 1px;
    padding: 16px;
    flex: 1;
    max-width: 50%;
    max-height: 100%;
}

.charts .canvas:hover{
    border:var(--main-bg-color) solid 1px; 
}

.links, .links:visited{
    margin: 4px 0px;
    color: white;
    display: block;
    border-radius: 8px;
    padding: 8px 16px;
}

.alert {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 14px;
    }
    
    .alert-success {
        background: #d4edda;
        color: #155724;
        border-left: 5px solid #28a745;
    }
    
    .alert-danger {
        background: #f8d7da;
        color: #721c24;
        border-left: 5px solid #dc3545;
    }
</style>
<div class="dashboard-container">
    {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
    <div class="container">
        
        <h1 class="title">¡Bienvenido de nuevo👋!</h1>
    </div>

    <div class="cards">

        <div class="card">
            <div class="card-description">
                <p class="card-count">{{ allcients }}</p>
                <h3 class="card-title">Clientes</h3>
            </div>
            <div class="card-figure">
                <i class="bi bi-people card-icon"></i>
            </div>
        </div>

        <div class="card">
            <div class="card-description">
                <p class="card-count">{{ allorders }}</p>
                <h3 class="card-title">Pedidos</h3>
            </div>
            <div class="card-figure">
                <i class="bi bi-files card-icon"></i>

            </div>
        </div>
        
        <div class="card">
            <div class="card-description">
                <p class="card-count">{{ clienthismonth }}</p>
                <h3 class="card-title">Clientes Este Mes</h3>
            </div>
            <div class="card-figure">
                <i class="bi bi-person-check card-icon"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-description">
                <p class="card-count">{{ ordersthismonth }}</p>
                <h3 class="card-title">Pedidos Este Mes</h3>
            </div>
            <div class="card-figure">
                <i class="bi bi-file-earmark-text card-icon"></i>
            </div>
        </div>
    </div>

    
    
    <div class="charts">
        <canvas class="canvas" id="combinedChart"></canvas>

        <div class="canvas">
            <h3>Pedidos Realizados Hoy {{current_date}}</h3>
            {% for order in orders_this_day %}
            <div class="info">
                <a class="links gray" href="{% url 'verOrden' order.id %}">{{order.client.name}}</a>
            </div>
            {% endfor %}
        </div> 


    </div>

    <div class="charts">
        <div class="canvas">
            <h3>Se entregan hoy</h3>
            {% for delivery in delivery_now %}
            <div class="info">
                <a class="links {% if delivery.entregado %} green {% else %} red {% endif %};" href="{% url 'verOrden' delivery.id %}">{{delivery.client.name}} - Q{{delivery.getSaldo}}</a>
            </div>
            {% endfor %}
            <div>
                <a class="button" href="{% url 'calendar' %}">Ir al Calendario</a>
            </div>
        </div>
        
        <div class="canvas">
            <h3>Se entregan Mañana</h3>
            {% for delivery in delivery_tomorrow %}
            <div class="info">
                <a class="links {% if delivery.entregado %} green {% else %} red {% endif %};" href="{% url 'verOrden' delivery.id %}">{{delivery.client.name}}</a>
            </div>
            {% endfor %}
            <div>
                <a class="button" href="{% url 'calendar' %}">Ir al Calendario</a>
            </div>
        </div>

       

        
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var clientsData = {{ clients_data|safe }};
    var ordersData = {{ orders_data|safe }};
    var monthsName =  {{months_name|safe}}
    var ctx = document.getElementById('combinedChart').getContext('2d');

var combinedChart = new Chart(ctx, {
    data: {
        labels: monthsName, // Asume que ambas series tienen las mismas etiquetas
        datasets: [
            {
                label: 'Pedidos',
                type: 'bar',
                data: ordersData,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
            },
            {
                label: 'Clientes',
                data: clientsData,
                type: 'line', // Especifica el tipo de gráfico para este dataset
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1,
            }
        ]
    },
});
</script>
{% endblock %}