
{% load widget_tweaks %}
{% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <div class="overlay"></div> <!-- Overlay de fondo -->
    <div class="container">
        <div class="card p-4 mt-3">
            <h2 class="text-center">Iniciar Sesión</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    Usuario
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="mb-3 position-relative">
                    Contraseña
                    <div class="input-group">
                        {{ form.password|add_class:"form-control" }}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" id="togglePassword">
                                <i class="bi bi-eye" id="togglePasswordIcon"></i><span class="view-password"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
            </form>
        </div>

    </div>

    {% include 'auth/show_password.html' with buttonId="togglePassword" passwordSelector="[name='password']" iconId="togglePasswordIcon" %}