{% extends 'dashboard.html' %}
{% block title %} Confirmacion {% endblock %}
{% block content %}
        <h1>¿Estás seguro de que deseas eliminar la Plaga?</h1>
        
        <p>Por favor, confirma si deseas eliminar la siguiente plaga:</p>
        <p><strong>Nombre:</strong> {{ object.name }}</p>
        <p><strong>Descripción:</strong> {{ object.description }}</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit">Sí, eliminar</button>
            <a href="{% url 'plagues:plague_detail' object.pk %}">Cancelar</a>
        </form>
    </body>

    {% endblock %}
