{% extends 'base.html' %}

{% block title %}<title>Editar salida</title>{% endblock %}

{% block content %}
  <h2>Salida</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      {% for field in form %}
        <div class="form_row">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="errors">
              {% for error in field.errors %}
                <span class="error">{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <a href="{% url 'cajas:salida_list' %}" class="button red">Cancelar</a>
    <button type="submit" class="button green">Guardar</button>
  </form>
{% endblock %}
