{% extends 'base.html' %}
{% block title %} <title>Salida</title> {% endblock %}
{% block content %}
    <h1>{% block heading %}{% endblock %}</h1>

    <div class="form_edit_container">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
        <a href="{% url 'cajas:caja_list'%}">Cancelar</a>
    </div>
        
    {% endblock %}