{% extends 'base.html' %}

{% block title %} <title>Salidas</title> {% endblock %}

{% block content %}
<a href="{% url 'cajas:caja_create' %}" class="button red">Crear Salida</a>
<h1>Salidas</h1>

<table class="caja_table">
    <thead>
        <tr>
        <th>Fecha</th>
        <th>Descripcion</th>
        <th>Salen</th>
        </tr>
    </thead>
<tbody>
    {% for salida in salidas %}  
    <tr>
        <td>{{salida.created|date:"d/m/Y"}}</td>  
        <td><a href="{% url 'cajas:salida_edit' salida.id %}">{{salida.description}}</a></td>
        <td>Q{{salida.total}}</td>
    </tr>
    {% endfor %}
</tbody>

</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

